.navbar {
  background-color: #F8F9FA;
  color: #333333;
  padding: 1rem;
  border-bottom: 1px solid #E0E0E0;
}

.navbar .nav-link {
  color: #333333;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #007BFF;
}

.dark-mode .navbar {
  background-color: #1A1A1A !important;
  color: #E0E0E0;
  border-bottom: 1px solid #292929;
}

.dark-mode .nav-link {
  color: #E0E0E0 !important;
}

.dark-mode .nav-link:hover,
.dark-mode .nav-link.active {
  color: #00C9A7 !important;
}

.dark-mode .navbar-brand {
  color: white !important;
}
