.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #007BFF;
}

.navbar {
  background-color: #F8F9FA;
  color: #333;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #E0E0E0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .nav-link {
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #007BFF;
}

/* Dark Mode */
.dark-mode .navbar {
  background-color: #1A1A1A !important;
  color: #E0E0E0;
  border-bottom: 1px solid #292929;
}

.dark-mode .nav-link {
  color: #E0E0E0 !important;
}

.dark-mode .nav-link:hover,
.dark-mode .nav-link.active {
  color: #00C9A7 !important;
}

.dark-mode .navbar-brand {
  color: white !important;
}

/* Navbar Responsiveness */
@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
    display: block;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin: 5px 0;
  }

  .navbar {
    padding: 0.5rem;
  }
}
